.star-icon {
  color: lightgrey;
  position: relative;
}
.star-icon.full:before {
  color: lightseagreen;
  content: '\2605';
  position: absolute;
  left: 0;
}
.star-icon.half:before {
  color:lightseagreen;
  content: '\2605';
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}